<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AllowedTypes</key>
        <array>
            <string>public.swift-source</string>
        </array>
        <key>MainTemplateFiles</key>
        <string>___FILEBASENAME___.swift</string>
        <key>Kind</key>
        <string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
        <key>Description</key>
        <string>Storyboard with a TableView and both ViewController and ViewModel</string>
        <key>Summary</key>
        <string>Storyboard with a TableView and both ViewController and ViewModel</string>
        <key>SortOrder</key>
        <integer>2</integer>
        <key>DefaultCompletionName</key>
        <string>TableView</string>
        <key>Platforms</key>
        <array>
            <string>com.apple.platform.iphoneos</string>
        </array>
        <key>Options</key>
        <array>
            <dict>
                <key>Description</key>
                <string>Base name of the ViewController/ViewModel</string>
                <key>Identifier</key>
                <string>productName</string>
                <key>Name</key>
                <string>Base name:</string>
                <key>Type</key>
                <string>text</string>
                <key>NotPersisted</key>
                <true/>
                <key>Required</key>
                <true/>
            </dict>
            <dict>
                <key>Description</key>
                <string>Class of TableViewCell</string>
                <key>Identifier</key>
                <string>cellClass</string>
                <key>Name</key>
                <string>TableViewCell class:</string>
                <key>Type</key>
                <string>text</string>
                <key>NotPersisted</key>
                <true/>
                <key>Required</key>
                <true/>
            </dict>
            <dict>
                <key>Description</key>
                <string>Type of data in TableView</string>
                <key>Identifier</key>
                <string>dataType</string>
                <key>Name</key>
                <string>Data type:</string>
                <key>Type</key>
                <string>text</string>
                <key>NotPersisted</key>
                <true/>
                <key>Required</key>
                <true/>
            </dict>
            <dict>
                <key>Description</key>
                <string>What class to subclass in the new ViewController</string>
                <key>Identifier</key>
                <string>controllerSubclass</string>
                <key>Name</key>
                <string>ViewController subclassed from:</string>
                <key>Type</key>
                <string>text</string>
                <key>Default</key>
                <string>BaseTableViewController</string>
                <key>NotPersisted</key>
                <true/>
                <key>Required</key>
                <true/>
            </dict>
            <dict>
                <key>Description</key>
                <string>What class to subclass in the new ViewModel</string>
                <key>Identifier</key>
                <string>modelSubclass</string>
                <key>Name</key>
                <string>ViewModel subclassed from:</string>
                <key>Type</key>
                <string>text</string>
                <key>Default</key>
                <string>BaseViewModel</string>
                <key>NotPersisted</key>
                <true/>
                <key>Required</key>
                <true/>
            </dict>
        </array>
    </dict>
</plist>